body{
    width: 100%;
    height: 100%;
    background-color: #ccfcfc;
}
img{
    height: 10%;
    width: 10%;
}
hr{
    width: 90%;
    color: black;
}
#form{
    padding-left: 10%;
}
